* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

main {
  /* background-image: linear-gradient(109.6deg,#3ea1db 11.2%,#5d34ec 100.2%); */
  background-image: url(./assets/imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.mainCard {
  width: 40vw;
  border-radius: 25px;
  /* background-image: linear-gradient(135deg,#fff 70%,#ecebeb); */
  background-color: rgba(238, 238, 238, .85);
  backdrop-filter: blur(2px);
  padding: 25px;
}

.title {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
  height: 40px;
}

.inputForm {
  width: 43%;
  height: 35px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 2px solid #cfcfcf;
  outline: none;
}

.inputForm:focus {
  border-color: #4741d7;
}

.inputDatetime{
  width: 28%;
  padding: 0 5px;
  height: 35px;
  border: 2px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
}

.inputDatetime:focus {
  border-color: #4741d7;
}

.btnCreate {
  height: 38px;
  background: #fff;
  color: #4741d7; 
  border: 2px solid #4741d7;
  padding: 0px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.btnCreate:before, .btnCreate:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #4741d7;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btnCreate:after {
  left: 100%;
}

.btnCreate:hover {
  color: #fff;
  cursor: pointer;
}

.btnCreate:hover:before {
  left: 0;
}

.btnCreate:hover:after {
  left: 50%;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 60vh;
  height: 60vh;
  padding: 0 10px;
}

.dateCard{
  padding: 0 15px;
}

.card {
  width: 90%;
  padding: 15px;
  /* box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16); */
  box-shadow: 2px 4px 4px 4px rgb(167, 167, 167);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  position: relative;
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgb(22, 24, 139);
}

.completeIcon {
  color: rgb(62, 65, 219);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0; 
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}

/*RESPONSIVE*/

@media screen and (max-width:870px){
  .mainCard{
    height: 90vh;
  }

  form{
    flex-direction: column;
  }

  .inputForm{
    width: 60%;
  }

  .inputDatetime{
    width: 64%;
  }
  
  .inputDatetime{
    margin: 10px;
  }
}

@media screen and (max-width:600px){
  .mainCard{
    height: 85vh;
    width: 70%;
  }
}
